# Basic Composer Excludes
vendor/

composer.lock
composer.phar

# Jetbrains Specific Excludes
.idea/

# Project Specific Config Files
config.php
googleanalytics.php

# Deployment Specific Assets
site/assets/cache/
site/assets/files/
site/assets/logs/
site/assets/sessions/
site/modules/